.login {
            margin-top: 50px;
        }
        .margin_top_10{
            margin-top: 10px;
        }
        .valid_img{
            height: 50px;
            width: 150px;
        }
        .padding_0{
            padding-left: 0;
            padding-right: 0;
        }