.login {
            margin-top: 50px;
        }

.margin_top_10 {
    margin-top: 10px;
}

.valid_img {
    height: 50px;
    width: 150px;
}

.padding_0 {
    padding-left: 0;
    padding-right: 0;
}

.file_avatar{
    position: relative;
    width: 64px;
    height: 64px;
}

.sol{
    position: absolute;
    top: 0;
    left: 30px;
    width: 64px;
    height: 64px;
}
.file{
    opacity: 0;
}